.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
local.properties

*.class
*.jar
!libs/*.jar

.idea/
*.iml
*.iws
*.ipr
out/

.classpath
.project
.settings/
bin/
.vscode/

.DS_Store
Thumbs.db

*.log
*.log.gz
node_modules/

run/
server/
test-server/
debug/
usercache.json
version_history.json

world/
world_nether/
world_the_end/
plugins/
!src/main/resources/plugin.yml
crash-reports/